<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>excel test</title>
    </head>

    <body>
        <form action="{% url 'index' %}" method="post">
            {% csrf_token %}
            <button type="submit">home</button><!--excelへ-->
        </form>
        <p>excel test</p>
        <p>Q1. {{ question|random }}</p>
        <label for="radio1">○</label>
        <input id="radio1" name="options" type="radio">
        <br>
        <label for="radio2">×</label>
        <input id="radio2" name="options" type="radio">

        <form action="{% url 'Eanswer' %}" method="post">
            {% csrf_token %}
            <button type="submit">answer</button>
        </form>
    </body>
</html>