<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>office skilltest ホームページ</title>
    </head>
    <body>
        <h1>office スキルテスト</h1>
        <p>このページはofficeソフトを勉強する人たちに対してのスキルテストです。</p>
        <h3>年齢確認</h3>
        <label for="age">年齢：</label>
        <input type="number" min="0" max="100" required>
        <br>
        <p>
        <a href="{% url 'ES' %}">excel</a>
        </p>
        <p>
        <a href="{% url 'NS' %}">net</a>
        </p>
        <form action="{% url 'percent' %}" method="post">
            {% csrf_token %}
            <button type="submit">年齢別正答率</button><!--percentへ-->
        </form>
        <p>konnnitiha
        </p>
    </body>
</html>