<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>office skilltest ホームページ</title>
    </head>
    <body>
        <h1>office スキルテスト</h1>
        <p>このページはofficeソフトを勉強する人たちに対してのスキルテストです。</p>
        <h3>年齢確認</h3>
        <label for="age">年齢：</label>
        <input type="number" min="0" max="100" required> <!--この情報をデータベースに保存-->
        <br>
        <form action="{% url 'ET' %}" method="post">
            {% csrf_token %}
            <button type="submit">excel</button><!--excelへ-->
        </form>
        <form action="{% url 'WT' %}" method="post">
            {% csrf_token %}
            <button type="submit">word</button><!--wordへ-->
        </form>
        <form action="{% url 'parcent' %}" method="post">
            {% csrf_token %}
            <button type="submit">年齢別正答率</button><!--wordへ-->
        </form>
        
        <p>hello</p>
    </body>
</html>