<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>net test</title>
    </head>

    <body>
        <form action="{% url 'index' %}" method="post">
            {% csrf_token %}
            <button type="submit">home</button>
        </form>
        
        <p>net test</p>
        {% for nt in net %}
            <p>Q{{ nt.number }}. {{ nt.ques }}</p>
            <label for="radio1">{{ nt.sele1 }}</label>
            <input id="radio1" name="options" type="radio">
            <br>
            <label for="radio2">{{ nt.sele2 }}</label>
            <input id="radio2" name="options" type="radio">
            <br>
            <label for="radio2">{{ nt.sele3 }}</label>
            <input id="radio3" name="options" type="radio">
            <br>
        {% endfor %}

        <form action="{% url 'Nanswer' %}" method="post">
            {% csrf_token %}
            <button type="submit">answer</button>
        </form>
    </body>
</html>